.otpForm {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    padding: 20px;
}
.otpForm div{
    margin: 10px;
}
.otpInput{
    padding: 10px;
    margin: 2px;
    text-align: center;
}
.otpInput div {
    display: flex;
    justify-content: space-around;
}
.otpContainer{
    margin-top: 50px;
    height: min-content !important;
}