.CarouselImage {
  /* border: 2px solid black; */
  width: 100%;
  height: 70vh;
  object-fit: contain;
  align-self: center;
}
.product-quantity-container input::-webkit-outer-spin-button,
.product-quantity-container input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.product-quantity-container input {
  outline: none;
  height: 95%;
  width: 30px;

  padding-left: 1vh;
}
.product-quantity-container button {
  cursor: pointer;
  width: 40px;
  height: 100%;
  font-size: 2.8vh;
  font-weight: 500;
}

.product-submit-container button {
  width: 9vw;
  height: 5vh;
  font-size: 1.5vh;
  font-weight: 500;
  background: rgb(48 48 48);
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0s;
  color: white;
  cursor: pointer;
  margin-left: 1vw;
}

.detailsBlock-3 > h1 {
  color: rgba(17, 17, 17, 0.795);
  font: 400 1.8vmax "Franklin Gothic Medium";
  margin: 1vmax 0;
}
.detailsBlock-3-1 {
  display: flex;
  align-items: center;
}

.detailsBlock-3-1 button {
  border: none;
  cursor: pointer;
  color: white;
  transition: all 0.5s;
  background-color: tomato;
  font: 500 0.7vmax "Roboto";
  border-radius: 20px;
  padding: 0.5vmax 2vmax;
  margin: 1vmax;
  outline: none;
  width: 50%;
}

.detailsBlock-3-1-1 > button {
  border: none;
  background-color: rgba(0, 0, 0, 0.616);
  padding: 0.5vmax;
  cursor: pointer;
  color: white;
  transition: all 0.5s;
}
.detailsBlock-3-1-1 > button:hover {
  background-color: rgba(0, 0, 0, 0.767);
}

.detailsBlock-3-1-1 > input {
  border: none;
  padding: 0.5vmax;
  width: 4vmax;
  text-align: center;
  outline: none;
  font: 400 1.2vmax "Roboto";
  color: rgba(0, 0, 0, 0.74) !important;
}

.css-1eiep95 {
  width: 97%;
}
.reviews-header-container button {
  height: 4vh;
  font-size: 8px;
  font-weight: 500;
  margin-left: 2vh;
  padding-left: 1vh;
  padding-right: 1vh;
  background-color: white;
  cursor: pointer;
  color: white;
  background-color: rgb(48 48 48);
  border-radius: 5px;
}

.professionalDiv {
  display: flex;
}
.professionalImg {
  width: 15%;
  height: 15%;
  margin: 4px;
  cursor: pointer;
}

.proDescription {
  width: 50%;
}
.proDescriptionDiv h2 {
  margin-bottom: 10px;
}

@media (max-width: 600px) {
  .proDescription {
    width: 90%;
  }
}
