/* .home-bg-img-container {
  background-image: url("../images/min2-min.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  opacity: 0.9;
} */

.home-text-innercontainer button {
  background: rgb(48 48 48);
  display: flex;
  align-items: center !important;
  justify-content: center !important;
}

.home-text-innercontainer p {
  margin-right: 1vw;
}
.home-text-innercontainer button:hover {
  cursor: pointer;
  background-color: rgb(28 28 28);
  /* color: black; */
}
.css-4pt67k-MuiTypography-root {
  background-color: transparent !important;
}
.css-105xmve-MuiTypography-root {
  background-color: transparent !important;
}
