.LoginSignUpContainer {
  width: 100vw;
  height: 78vh;
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(231, 231, 231);
  border: 2px solid red;
  /* position: fixed; */
  /* margin: 0%; */
 
}

.LoginSignUpBox {
  background-color: white;
  /* margin: 0; */
  width: 25vw;
  height: 70vh;
  box-sizing: border-box;
  overflow: hidden;
}
.login_signUp_toggle {
  display: flex;
  height: 4vmax;
}
.login_signUp_toggle > p {
  color: rgba(0, 0, 0, 0.678);
  font: 500 1.1vmax "Roboto";
  transition: all 0.s;
  cursor: pointer;
  display: grid;
  place-items: center;
  width: 100%;
}
.login_signUp_toggle > p:hover {
  color: rgb(0, 0, 0);
  border: 3px solid #8e86fa;
}

.LoginSignUpBox > div > button {
  background-color: rgb(0, 0, 0);
  height: 3px;
  width: 50%;
  border: none;
  transition: all 0.5s;
}

.loginForm,
.signUpForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  padding: 2vmax;
  justify-content: space-evenly;
  height: 70%;
  transition: all 0.5s;
}

.signUpForm {
  transform: translateY(-100%) translateX(-100vmax);
}

.loginForm > div,
.signUpForm > div {
  display: flex;
  width: 100%;
  align-items: center;
}
.loginForm > div > input,
.signUpForm > div > input {
  padding: 1vmax 4vmax;
  padding-right: 1vmax;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid rgba(0, 0, 0, 0.267);
  border-radius: 4px;
  font: 300 0.9vmax cursive;
  outline: none;
}

.loginForm > div > svg,
.signUpForm > div > svg {
  position: absolute;
  transform: translateX(1vmax);
  font-size: 1.6vmax;
  color: rgba(0, 0, 0, 0.623);
}

.loginForm > a {
  color: rgba(0, 0, 0, 0.651);
  text-decoration: none;
  align-self: flex-end;
  transition: all 0.5s;
  font: 500 0.8vmax "Gill Sans";
}

.loginForm > a:hover {
  color: black;
}

#registerImage > img {
  width: 2.5vmax;
  border-radius: 100%;
  margin-right: 1vw;

}
#registerImage > input {
  display: flex;
  padding: 0%;
}

#registerImage > input::file-selector-button {
  cursor: pointer;
  width: 100%;
  z-index: 2;
  height: 5vh;
  border: none;
  margin: 0%;
  font: 400 0.8vmax cursive;
  transition: all 0.5s;
  padding: 0 1vmax;
  color: rgba(0, 0, 0, 0.623);
  background-color: rgb(255, 255, 255);
}

#registerImage > input::file-selector-button:hover {
  background-color: rgb(235, 235, 235);
}

.loginBtn,
.signUpBtn {
  border: none;
  background-color: rgb(0, 0, 0);
  color: white;
  font: 300 0.9vmax "Roboto";
  width: 100%;
  padding: 0.8vmax;
  cursor: pointer;
  transition: all 0.5s;
  border-radius: 4px;
  outline: none;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.219);
}

.loginBtn:hover,
.signUpBtn:hover {
  background-color: rgb(73, 73, 73);
}

.shiftToLeft {
  transform: translateX(-100%);
}
.shiftToNeutral {
  transform: translateX(0%);
}

.shiftToNeutralForm {
  transform: translateX(0%) translateY(-100%);
}

.shiftToRight {
  transform: translateX(100%);
}

/* rushabh css */
/* Define a style for the input box */
input.highlight-on-focus {
    width: 200px;
    padding: 5px;
    border: 2px solid #ccc;
    border-radius: 5px;
}

/* Define a style for the input box when it is focused (clicked or being typed in) */
input.highlight-on-focus:focus {
    border: 3px solid #ffdcaccb; /* Change the border color to blue */
    background-color: #fffbfb; /* Change the background color */
    /* You can customize the styles further to fit your design. */
}

/* Style for the link */
.loginForm a {
    color: #000000; /* Link color (blue) */
    font-size: medium;
    text-decoration: none; /* Remove underline from the link */
    font-weight: bold; /* Make the text bold */
    margin: 10px; /* Add some margin to create spacing */
}

/* Style for the link on hover */
.loginForm a:hover {
    color: #fc1921; /* Change link color on hover (orange) */
}



@media screen and (max-width: 600px) {
  .LoginSignUpContainer {
    background-color: white;
  }
  .LoginSignUpBox {
    width: 100vw;
    height: 95vh;
  }
  .login_signUp_toggle {
    height: 5vmax;
  }
  .login_signUp_toggle > p {
    font: 300 1.5vmax "Roboto";
  }

  .loginForm,
  .signUpForm {
    padding: 5vmax;
  }

  .loginForm > div > input,
  .signUpForm > div > input {
    padding: 2.5vmax 5vmax;
    font: 300 1.7vmax cursive;
  }

  .loginForm > div > svg,
  .signUpForm > div > svg {
    font-size: 2.8vmax;
  }

  .loginForm > a {
    font: 500 1.8vmax "Gill Sans";
  }

  #registerImage > img {
    width: 8vmax;
    border-radius: 100%;
  }

  #registerImage > input::file-selector-button {
    height: 7vh;
    font: 400 1.8vmax cursive;
  }

  .loginBtn,
  .signUpBtn {
    font: 300 1.9vmax "Roboto";
    padding: 1.8vmax;
  }
}
