.formContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 14px;
    width: 100%;
}

.checkoutForm {
    width: 50%;
}

.checkoutForm input {
    padding: 10px;
    margin: 5px;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid rgba(0, 0, 0, 0.267);
    border-radius: 4px;
    outline: none;
}

.checkoutForm button {
    border: none;
    background-color: rgb(0, 0, 0);
    color: white;
    font: 300 0.9vmax "Roboto";
    width: 100%;
    padding: 0.8vmax;
    cursor: pointer;
    transition: all 0.5s;
    outline: none;
    margin-top: 20px;
}