.ExtraNavbar {
  background-color: rgb(186, 241, 247);
  margin: 0px;
  padding: 0px;
  height: 3rem;
}
.ExtraNavbar-box {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  margin: 0 auto;
  justify-content: space-between;
}
.ExtraNavbar-box-left {
  display: flex;
  justify-content: space-between;
  font-size: medium;
  /* margin: 1rem; */
}
.ExtraNavbar-box-email {
  /* background-color: red; */
  padding: 0.8rem;
}
.ExtraNavbar-box-phone {
  /* background-color: red; */
  padding: 0.8rem;
}
.ExtraNavbar-box-email:hover {
  color: rgb(255, 33, 33);
}
.ExtraNavbar-box-phone:hover {
  color: rgb(255, 48, 48);
}

.ExtraNavbar-box-social-right {
  width: 100%;
}

.ExtraNavbar-box-social {
  display: flex;
  width: 100%;
  align-items: center;
  text-align: center;
  justify-content: space-evenly;
  /* padding: auto; */
  /* margin: auto; */
}
.ExtraNavbar-box-social-facebook {
  /* background-color: red; */
  display: flex;
  /* align-items: self-start; */
  align-items: center;
  text-align: center;
  padding: 0.4rem;
}
.ExtraNavbar-box-social-facebook:hover {
  color: blue;
}

@media screen and (max-width: 600px) {
  .ExtraNavbar-box-left {
    display: flex;
    justify-content: space-between;
    font-size: small;
    /* margin: 1rem; */
  }
  .ExtraNavbar-box-social-right {
    display: none;
  }
}
